
.main-text-sm {
    padding: 2em 0 1em;
    color: white;
    font-size: 20px;
    /* text-decoration: underline coral; */
}

.main-body p {
    color: white;
    padding: 0 3rem 0;
    font-weight: 300;
    max-width: 600px;
    /* border: 1px solid white; */
    margin: auto;
}